WEATHER_API_KEY=374b09b749d1ca7369236b05483df119
WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5
GEO_API_URL=https://ipinfo.io/json
GEO_API_FALLBACK_CITY=Moscow
DB_URL=sqlite:///weather_lb1.db
DB_USER=user
DB_PASSWORD=password
ENVIRONMENT=development
OUTPUT_FILE=weather_report.md